.App {
  margin-right: 10px;
  padding: 10px;
}

.btn {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 3px 10px;
  cursor: pointer;
}

.ball {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border: 1px solid #333;
  border-radius: 50%;
}

.item {
  margin-bottom: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.acc-title {
  cursor: pointer;
}

.star-line {
  display: inline-block;
}

.selected {
  font-weight: 900;
  margin-right: 3px;
}
